body {

  margin: 0;       
  background-color: white; 
}

.cover,
.lots,
.footer {
  padding-inline: 50px;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 90px 85px 96px 50px;
  font-size: 18px;
}

.header__menu { 
    justify-self: start;  
 }

.header__logo { 
  justify-self: center; 
  display: block; 
  width: 138px; 
  margin-left: 35px;
}

.header__logo-image {
  display: block;  
}

.header__address {
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
  line-height: 1.3;
  max-width: 240px;           
  font-style: normal;         
  color: inherit;

}
.header__address a {
  display: block;
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 3px;
  white-space: nowrap;
  font-style: normal;
}

.address {
    font-style: normal;
    color: black;
}
.address__text {
  text-decoration: none;
  white-space: normal;                
}


.header__links-list {
  display: flex;
  gap: 32px;         
  list-style: circle;
  align-items: start;

}

.header__links-list-item_no-bullit { list-style: none; }

.header__link {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 4px; 
}

.header__link_active { text-decoration: none; }

.cover {
  margin-bottom: 180px;
  position: relative; 
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 757px; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
  padding-top: 165px;     
  padding-bottom: 50px;  
}

.overlay {
  position:absolute;
  inset: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 0;
}

.card__title,
.card__text,
.cover__description {
  position: relative;
  z-index: 1; 
}

.cover__title {
  position: relative;
  z-index: 1; 
  color: white;
  text-transform: uppercase;
}

.aligned-text {
  display: block; 
  font-size: 100px;
  letter-spacing: 0.3em;   
}

.aligned-text_left {
  text-align: left; 
}

.aligned-text_center {
  text-align: center;
  margin-right: -0.3em;
  line-height: 151px;  
}



.aligned-text_right {
  text-align: right;
  margin-right: -0.3em; 
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  gap: 28px; 
  margin-top: 0px;
}

.cover__description-text {
  margin: 0;
  color: white;
  font-weight: 400;
  font-size: 22px;
  word-spacing: 19px;
  margin-bottom: 0px;
}

.bet-button{
  appearance: none;
  border: 1px solid white;
  background: transparent;
  color: white;
  padding: 12px 31px;  
  text-transform: uppercase;
  font: inherit; 
  font-weight: 400; 
  font-size: 22px;                
}

.lots {
     margin-bottom: 120px;
     padding-inline: 24px;
     padding-block: 0;
}

.lots__heading {
    margin: 0 0 27px;
    padding-left: 40px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;  
  list-style: none;
  margin: 0;
  padding: 0;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
}

.card-link {
   display: block; 
   height: 100%;
   color: inherit;
   text-decoration: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 334px;
    padding: 0px 41px; 
    color: white;
    text-decoration: none;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.card__title {
  margin: 0;
  font-size: 22px;      
  text-transform: uppercase;
  text-decoration: underline;
  padding-top: 48px;
  padding-bottom: 30px;
}

.card__text {
  margin: 0;
  font-weight: 400;
  font-size: 20px;        
  padding-bottom: 48px;
  line-height: 1.2;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);

}
.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  display: inline-block;      
  margin-top: 32px;          
  margin-left: 40px;           
  line-height: 1;             
  text-transform: lowercase;
  color: inherit;              
  text-decoration: underline;
  text-underline-offset: 5px;
  font-size: 20px;
   
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr; 
  margin-bottom: 71px;
  padding-inline: 50px 24px;
  background-color: white;

}

    
.about__title {
  margin: 136px 0 100px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.1;
}


.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: start;
  margin: 36px 0px 0px 22px;
}

.about__logo-image {
  display: block;
  width: 148px;  
  height: auto;

}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 688px;
    padding-top: 3px;
}

.about__text p {
  margin: 0;
  font-size: 20px;
  line-height: 1.2; 
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;                 
  row-gap: 24px; 
  padding: 110px 50px 0px 50px;
  font-size: 18px;
}

.footer .address {
  justify-self: start;                   
  display: flex;
  flex-direction: column;
  align-items: flex-start;               
  gap: 5px;                              
  max-width: 240px;                     
  font-style: normal;
}

.footer .address a {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer .address p {
  margin: 0;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  list-style: none;                     
  margin: 0;
  padding: 0;
  text-align: center;                    
  display: flex;
  flex-direction: column;                            
}

.footer__menu-link {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  justify-self: end;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 48px;                             
}

.footer__social-link {
  display: inline-block;
}

.footer__social-icon {
  display: block;
  width: 48px;                            
  height: 48px;
}